<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy_e9PB93ZRoJZp_ftAXmhtWYFK4GPFcI</string>
	<key>GCM_SENDER_ID</key>
	<string>1006826058975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efforthye.hyestagram</string>
	<key>PROJECT_ID</key>
	<string>hyestagram-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>hyestagram-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006826058975:ios:782e281db0effcea47256a</string>
</dict>
</plist>